<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>Error 404 re:{{ page }}</title>
	<link rel="stylesheet" type="text/css" href="./static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="./static/css/stylesheet.css">

</head>

<body>
	<div id="wrapper_404">
		<h1>Nothing.</h1>
		<p id="text_404">The page you requested, {{ page }}
		    is without objective meaning, purpose, or intrinsic value.
		    <br><br>
		    What are you, a nihilist?!
		    <br><br>
		<a id="link_404" href="./home">Return to Magic Monkey Minifier</a>	
		</p>
	</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="./static/js/main.js"></script>
</body>
</html>
