<html lang="en-us">

<head>
	<meta charset="UTF-8">
	<title>Magic Monkey Minifier</title>
	<link rel="icon" href="../static/img/favicon.ico">
	<link rel="shortcut icon" href="../static/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="./static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="./static/css/stylesheet.css">
	
        
</head>

<body>
	<div id="wrapper">
               <div id="signup-wrapper" >
                   <form id="signup"  name="signup">
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
                        <input type="hidden" name="form_type" value="signup">
			<input type="submit" value="Sign Up">
		        <div id="account">Already have an account <span id="toggleLogin">Login here.</span></div>
		    </form>
                </div>

		<div id="login-wrapper">
		    <form id="login"  name="login" >
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
                        <input type="hidden" name="form_type" value="login">
			<input type="submit" value="Log In">
			<div id="no-account">Don't have an account yet? <span id="toggleLoginRegister">Create one here.</span></div>
		    </form>
 		</div>               
 
 		<div id="welcome-wrapper">
			<div id="welcome">Welcome, <span id="username">{{username}}</span>! <span id="logout">Logout when you're done.</span></div>
		</div>		

 		<div id="candle"></div>
		<div id="tail"></div>
		<div id="tarotDeath"></div>
		<div id="tarotDevil"></div>
		<div id="runes"></div>
		<div id="monkey">&nbsp;
			<div id="smoke">
				<span>M</span>
				<span>a</span>
				<span>g</span>
				<span>i</span>
				<span>c</span>
				<span>M</span>
				<span>o</span>
				<span>n</span>
				<span>k</span>
				<span>e</span>
				<span>y</span>
				<span>M</span>
				<span>i</span>
				<span>n</span>
				<span>i</span>
				<span>f</span>
				<span>i</span>
				<span>e</span>
				<span>r</span>
				<div>
				Summoned by:<br>
				<a href="http://people.ischool.berkeley.edu/~andrew/" target="_blank">Andrew Win</a>,
				<a href="http://people.ischool.berkeley.edu/~derek/" target="_blank">Derek Kan</a>, 
				<a href="http://www.morganwallace.com" target="_blank">Morgan Wallace</a> &amp; 
				<a href="http://about.me/lazar" target="_blank">Lazar Stojković</a>
				</div>
			</div>
		</div>

		<div id="scroll_content">
			<form role="form" id="url-shorten" name="shortener">
				<label for="long-url">The long URL</label>
				<input type="text" id="long-url" name="long-url" placeholder="Example: http://google.com" required autofocus>

				<label for="short-url">The short path</label>
				<input type="text" id="short-url" name="short-url" placeholder="A short URL of your choosing (letters only)">
				
				<div id="submit_wrapper">
					<input type="submit" id="alacazam" value="">
				</div>

				<div id="randomize_wrapper">
					<input type="button" id="randomize" onclick="makeshort()">
				</div>
			</form>
			<div class="clear"></div>

                        <div id="links-wrapper">

			<!-- List of generated URLs goes here -->
				
				{% for item in links %}
 				<div class="link-history"> 
					<h2><a href="{{item['longUrl']}}">{{item['title']}}</a></h2>
					<strong>Transmuted on: </strong>{{item['timeStamp']}}<br>
					<strong>Times clicked:</strong> {{item['clickCount']}}<br>
					<a href="./short/{{item['shortUrl']}}" class="minified">{{item['shortUrl']}}</a><br>
 					<span class="delete">Delete</span>
				</div>
				{% endfor %}
			</div>		

		</div>
		<div id="scroll_bottom"></div>	
	</div>
        {% if username != "" %}
          <style>
	    #signup-wrapper {display: none;}
            #login-wrapper {display: none;}
	  </style>
        {% else %}
          <style>
            #signup-wrapper {display: none;}
            #welcome-wrapper {display: none;}
          </style>
        {% endif %}
</body>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="./static/js/main.js"></script>
	<script src="./static/bootstrap/js/bootstrap.min.js"></script>
        <script>

                $("#logout").click(function(e){
			$("#signup-wrapper").hide();//css('visibility', 'hidden');
			$("#welcome-wrapper").hide();//css('visibility', 'hidden');
			logout();
			e.preventDefault();
		});

		function logout(){

	        	$.post("./logout",
				null,
				function(data){
					console.log(data);
					//remove users links from page 
					$(".link-history").each(function(){
					    this.remove();
					});
                         		$("#username").text("");
                                        $("input[name='password']").val('');
                                        $("input[name='username']").val('');
                                        $("#login-wrapper").show();
			});
			return false;
		}
		
		$(".delete").click(function(){
			shortUrl = $(this).siblings('.minified').html();
			console.log(shortUrl);
			$(this).parent().remove();	
			$.post("./delete",
				{ short_url: shortUrl },
				function(data){
					console.log(data);
			});
			return false;
		
		});
			
		$("#toggleLogin").click(function(){
			$("#signup-wrapper").hide();//css('visibility', 'hidden');
			$("#login-wrapper").show();			
		});
		
		$("#toggleLoginRegister").click(function(){
			$("#login-wrapper").hide();
			$("#signup-wrapper").show();
		});

		$("#signup").on('submit',function(e){
 			//your code
			//alert("submit button clicked, hooray");
 			signup();
			e.preventDefault();
		});
                
		function signup(){

	        	$.post("./signup",
				$("#signup").serialize(),
				function(data){
					console.log(data);
					console.log(data.username);
					$("#username").text(data.username);
					$("#signup-wrapper").hide();
					$("#welcome-wrapper").show();
			});
			return false;
		}
		
		$("#login").on('submit',function(e){
 			login();
			e.preventDefault();
		});

                function login(){

	        	$.post("./login",
				$("#login").serialize(),
				function(data){
					console.log(data);
					//add users links to page 
					console.log(data.links);
  					for (var i=0; i < data.links.length; i++) {
						console.log(data.links[i]);
						appendLinkToList(data.links[i]);
					}
					$("#username").text(data.username);
					$("#login-wrapper").hide();
					$("#welcome-wrapper").show();
			});
			return false;
		}
		
		$("#url-shorten").on('submit',function(e){
 			addShortUrl();
			e.preventDefault();
			
			//randomize the short path after 
			$("#short-url").val(makeid());
		});

        function addShortUrl(){
			    validateVal = validate();
			        	$.post("./shorts",
							$("#url-shorten").serialize(),
							function(data){
								console.log(data);
								appendLinkToList(data);
							}
						);
				$("#long-url").val("");
			return false;
		}

		function appendLinkToList(data){
			console.log(data);
			var detailsBlock = "<div class='link-history'><h2><a href='" + data.longUrl + "'>" + data.page_title + "</a></h2><strong>Transmuted on: </strong>" + data.timeStamp + "<br><strong>Times clicked:</strong>" + data.clickCount + "<br><a href='./short/" + data.shortUrl + "' class=minified>" + data.shortUrl + "</a><br><span class='delete'>Delete</span></div>"; 

/* 			curLinkHistory = $(".link-history").first(); */
			$('#links-wrapper').prepend(detailsBlock);
		}

		function clearLinkHistory(){
			$(".link-history").each(function(){
				$(this).remove();
			});
		}
		


    $('#toggleLoginRegister').click(function() {
    	$('#login').hide();
    });

		
	</script>

</html>
