<html lang="en-us">

<head>
	<meta charset="UTF-8">
	<title>Magic Monkey Minifier</title>
	<link rel="stylesheet" type="text/css" href="./static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="./static/css/stylesheet.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="../static/js/mmm.js"></script>
</head>

<body>
	<div id="wrapper">
		<form id="login">
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<input type="submit" value="Log In">
			<div id="no-account">Don't have an account yet? <span id="toggleLoginRegister">Create one here.</span></div>
		</form>
		<div id="candle"></div>
		<div id="tail"></div>		
		<div id="monkey">&nbsp;
			<div id="smoke">
				<span>M</span>
				<span>a</span>
				<span>g</span>
				<span>i</span>
				<span>c</span>
				<span>M</span>
				<span>o</span>
				<span>n</span>
				<span>k</span>
				<span>e</span>
				<span>y</span>
				<span>M</span>
				<span>i</span>
				<span>n</span>
				<span>i</span>
				<span>f</span>
				<span>i</span>
				<span>e</span>
				<span>r</span>
				<div>
				Summoned by:<br>
				<a href="http://people.ischool.berkeley.edu/~andrew/" target="_blank">Andrew Win</a>,
				<a href="http://people.ischool.berkeley.edu/~derek/" target="_blank">Derek Kan</a>, 
				<a href="http://www.morganwallace.com" target="_blank">Morgan Wallace</a> &amp; 
				<a href="http://about.me/lazar" target="_blank">Lazar Stojković</a>
				</div>
			</div>
		</div>

		<div id="scroll_content">
			<form role="form" action="./shorts" method="post" id="url-shorten" name="shortener">
				<label for="long-url">The long URL</label>
				<input type="text" id="long-url" name="long-url" placeholder="Example: http://google.com" required autofocus>

				<label for="short-url">The short path</label>
				<input type="text" id="short-url" name="short-url" placeholder="A short URL of your choosing (letters only)">
				
				<div id="submit_wrapper">
					<input type="submit" value="Alacazam!">
				</div>

				<div id="randomize_wrapper">
					<input type="button" value="Randomize" onclick="makeshort()">
				</div>
			</form>
			<div class="clear"></div>

			<!-- List of generated URLs goes here -->
			{% for item in urls %}
 			<div class="link-history"> 
				<h2><a href="{{item[1][1]}}">{{item[1][1]}}</a></h2>
				<strong>Transmuted on: </strong>xx/yy/2013<br>
				<strong>Times clicked:</strong> 0<br>
				<a href="./short/{{item[0]}}" class="minified">/{{item[0]}}</a>
			</div>
			{% endfor %}
		

		</div>
		<div id="scroll_bottom"></div>	
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="./static/js/main.js"></script>
	<script src="./static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
