<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Magic Monkey Minifier</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>

<body>
	<div id="wrapper">
		<img src="../static/img/candle.gif" id="candle" alt="candle">
		<div id="tail"></div>		
		<div id="monkey">&nbsp;
			<div id="smoke">
				<span>M</span>
				<span>a</span>
				<span>g</span>
				<span>i</span>
				<span>c</span>
				<span>M</span>
				<span>o</span>
				<span>n</span>
				<span>k</span>
				<span>e</span>
				<span>y</span>
				<span>M</span>
				<span>i</span>
				<span>n</span>
				<span>i</span>
				<span>f</span>
				<span>i</span>
				<span>e</span>
				<span>r</span>
				<div>
				Summoned by:<br>
				<a href="http://people.ischool.berkeley.edu/~derek/" target="_blank">Derek Kan</a>, 
				<a href="http://www.morganwallace.com" target="_blank">Morgan Wallace</a> &amp; 
				<a href="http://about.me/lazar" target="_blank">Lazar Stojković</a>
				</div>
			</div>
		</div>
		<div id="scroll_content">
			<form name="shortener">
				<label for="long">The Long URL</label>
				<input type="text" id="long" name="long" autofocus>

				<label for="short">The Short Path</label>
				<input type="text" id="short" name="short">
				
				<div id="submit_wrapper">
					<input type="submit" value="Alacazam!">
				</div>

				<div id="randomize_wrapper">
					<input type="button" value="Randomize">
				</div>
			</form>
			<div class="clear"></div>

			<!-- List of generated URLs goes here -->

		</div>
		<div id="scroll_bottom"></div>	
	</div>
</body>
</html>