@charset "UTF-8";
@font-face {
	font-family: magicschoolone;
	font-style: normal;
	font-weight: normal;
	src: local(magicschoolone), url('../fonts/magicschoolone.otf')
}

body {
	background-color: black;
	font-size: 1em;
	line-height: 1.4em;
}

a {
	color: #7a1823;	
	text-decoration: none;
	word-break: break-all;
}

h1 {
	color: red;
	cursor: default;
	font-family: magicschoolone, cursive;
	font-size: 6em;
	font-weight: normal;
	margin: 0 auto 70px 0;
	text-align: center;
	text-shadow: #7a1823 2px 2px;
}

h2 {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.4em;
	margin-bottom: 4px;
}

h2:hover {
	text-decoration: underline;
}

strong {
	font-weight: bold;
}

.clear {
	clear: both;
}

/* SELECTION */

::-moz-selection {
	background-color: #7a1823;
	color: white;
}

::selection {
	background-color: #7a1823;
	color: white;
}

/* ANIMATIONS */

/* Monkey Blink */

@keyframes monkeyBlink {
	0% {background: url('../img/monkey_1.png');}
	93% {background: url('../img/monkey_1.png');}
	100% {background: url('../img/monkey_2.png');}
}

@-webkit-keyframes monkeyBlink {
	0% {background: url('../img/monkey_1.png');}
	93% {background: url('../img/monkey_1.png');}
	100% {background: url('../img/monkey_2.png');}
}

/* Tail Wag */
@keyframes tailWag {
	0% {transform: rotate(-10deg);}
	50% {transform: rotate(30deg);}
	100% {transform: rotate(-10deg);}
}

@-webkit-keyframes tailWag {
	0% {-webkit-transform: rotate(-10deg);}
	50% {-webkit-transform: rotate(30deg);}
	100% {-webkit-transform: rotate(-10deg);}	
}

/* Candle Flame */
@keyframes candleFlame {
	0% {background-image: url('../img/candle_1.png');}
	20% {background-image: url('../img/candle_2.png');}
	40% {background-image: url('../img/candle_3.png');}
	60% {background-image: url('../img/candle_4.png');}
	80% {background-image: url('../img/candle_5.png');}
	100% {background-image: url('../img/candle_6.png');}
}

@-webkit-keyframes candleFlame {
	0% {background-image: url('../img/candle_1.png');}
	20% {background-image: url('../img/candle_2.png');}
	40% {background-image: url('../img/candle_3.png');}
	60% {background-image: url('../img/candle_4.png');}
	80% {background-image: url('../img/candle_5.png');}
	100% {background-image: url('../img/candle_6.png');}
}

/* Smoke Effect */

@keyframes smoke {
	0% {text-shadow: 0 0 0 rgba(122, 24, 35, 1);}
	90% {text-shadow: 0 -120px 20px rgba(122, 24, 35, 0);}
	100% {text-shadow: 0 0 0 rgba(0, 0, 0, 0);}
}

@-webkit-keyframes smoke {
	0% {text-shadow: 0 0 0 rgba(122, 24, 35, 1);}
	90% {text-shadow: 0 -120px 20px rgba(122, 24, 35, 0);}
	100% {text-shadow: 0 0 0 rgba(0, 0, 0, 0);}
}

/* Fade-in Effect */

@keyframes fadeIn {
	0% {color: red;}
	100% {color: black; opacity: 1;}
}

@-webkit-keyframes fadeIn {
	0% {color: red; opacity: 0;}
	100% {color: #464646; opacity: 1;}
}


/* PAGE ELEMENTS */

#wrapper {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 650px;
	color: white;
}

#candle {
	animation: candleFlame 1.2s infinite;
	-webkit-animation: candleFlame 1.2s infinite;
	background-image: url("../img/candle_1.png");
	display: block;
	height: 280px;
	right: 0px;
	position: absolute;
	top: 90px;
	width: 200px;
	z-index: -10;
}

/* Login form */

#login, #signup, #welcome {
	color: white;
	font-size: 0.8em;
	height: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#login input[type="text"], #signup input[type="text"] {
	background: none;
	border: 1px solid red;
	color: white;
	float: left;
	height: 30px;
	outline-color: red;
	padding: 5px;
	width: 250px;	
}

#login input[type="text"]::-webkit-input-placeholder, #signup input[type="text"]::-webkit-input-placeholder {
	color: white;
	font-size: 1em;
}

#login input[type="text"]:-moz-placeholder, #signup input[type="text"]:-moz-placeholder { /* Firefox 18- */
	color: white;
	font-size: 1em;
}

#login input[type="text"]::-moz-placeholder, #signup input[type="text"]::-moz-placeholder { /* Firefox 19+ */
	color: white;
	font-size: 1em;
}

#login input[type="text"]:-ms-input-placeholder, #signup input[type="text"]:-ms-input-placeholder {
	color: white;
	font-size: 1em;
}

#login input[type="password"], #signup input[type="password"] {
	background: none;
	border: 1px solid red;
	color: white;
	float: left;
	font-family: "Times New Roman", serif;
	font-size: 1em;
	height: 30px;
	margin-left: 10px;
	outline-color: red;
	padding: 5px;
	width: 250px;
}

#login input[type="password"]::-webkit-input-placeholder, #signup input[type="password"]::-webkit-input-placeholder {color: white;}
#login input[type="password"]:-moz-placeholder, #signup input[type="password"]:-moz-placeholder {color: white;} /* Firefox 18- */
#login input[type="password"]::-moz-placeholder, #signup input[type="password"]::-moz-placeholder {color: white;} /* Firefox 19+ */
#login input[type="password"]:-ms-input-placeholder, #signup input[type="password"]:-ms-input-placeholder {color: white;}

#login input[type="submit"], #signup input[type="submit"] {
	background-color: #7a1823;
	border: 1px solid red;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	float: left;
	font-family: "Times New Roman", serif;
	font-size: 1em;
	font-weight: bold;
	height: 30px;
	margin-left: 10px;
	margin-right: 20px;
	width: 110px;
}

#login input[type="submit"]:hover, #signup input[type="submit"]:hover {
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	background-color: red;
}

#login  a {color: red;}
#login  a:hover {text-decoration: underline;}

#no-account, #account, #welcome {
	font-size: 1em;
	font-style: italic;
	left: 0;
	position: absolute;
	top: 33px;
	width: 100%;
}

#toggleLoginRegister, #toggleLogin, #logout {
	color: red;
	cursor: pointer;
}


/* Monkey Body Parts */

#tail {
	animation: tailWag 8s infinite;
	-webkit-animation: tailWag 8s infinite;
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	/* Animation Timing */
	-webkit-transition: all 500ms cubic-bezier(0.425, 0, 0.265, 1);
	-webkit-transition: all 500ms cubic-bezier(0.425, -0.240, 0.265, 1.650); 
	-moz-transition: all 500ms cubic-bezier(0.425, -0.240, 0.265, 1.650); 
	transition: all 500ms cubic-bezier(0.425, -0.240, 0.265, 1.650);
	-webkit-transition-timing-function: cubic-bezier(0.425, 0, 0.265, 1);
	-webkit-transition-timing-function: cubic-bezier(0.425, -0.240, 0.265, 1.650); 
	-moz-transition-timing-function: cubic-bezier(0.425, -0.240, 0.265, 1.650); 
	transition-timing-function: cubic-bezier(0.425, -0.240, 0.265, 1.650);
	/* Basic Stuff */
	background: url('../img/tail.png') no-repeat;
	height: 279px;
	position: absolute;
	right: 0;
	top: 50px;	
	width: 233px;
	z-index: -1;
}

#monkey {
	animation: monkeyBlink 3.2s infinite;
	-webkit-animation: monkeyBlink 3.2s infinite;
	background-image: url('../img/monkey_1.png');
	height: 456px;
	width: 630px;
}

/* Miscellaneous Elements */

#tarotDeath {
	-moz-transform: rotate(-22deg);
	-webkit-transform: rotate(-22deg);
	background-image: url('../img/tarotDeath.png');
	height: 463px;
	left: -50px;
	position: absolute;
	top: 180px;
	width: 267px;
	z-index: -5;
}

#runes {
	-moz-transform: rotate(18deg);
	-webkit-transform: rotate(18deg);
	background-image: url('../img/runes.png');
	height: 500px;
	left: -60px;
	position: absolute;
	top: 280px;
	width: 354px;
	z-index: -7;
}

#tarotDevil {
	-moz-transform: rotate(24deg);
	-webkit-transform: rotate(24deg);
	background-image: url('../img/tarotDevil.png');
	height: 463px;
	right: -33px;
	position: absolute;
	top: 333px;
	width: 258px;
	z-index: -5;
}


/* Evaporating title */

#smoke {
	-moz-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;	
	color: #7a1823;
	cursor: default;
	font-family: magicschoolone, cursive;
	font-size: 3.5em;
	font-weight: normal;
	margin: 340px auto 0;
	text-align: center;
}

#smoke span {
	margin: -7px;
}

#smoke:hover {
	color: transparent;
}

#smoke:hover span {
	-webkit-animation-name: smoke;
	animation-name: smoke;
}

#smoke span:nth-child(n) {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

#smoke span:nth-child(2n) {
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
}

#smoke span:nth-child(3n) {
	-webkit-animation-duration: 1.4s;
	animation-duration: 1.4s;
}

#smoke span:nth-child(4n) {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

#smoke span:nth-child(5n) {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

#smoke div {
	-moz-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);	
	cursor: default;
	font-family: magicschoolone, cursive;
	font-size: 0.5em;
	line-height: 1.1em;
	text-align: center;
	margin-bottom: 30px;
	margin-top: -35px;
	visibility: hidden;
}

#smoke:hover div {
	animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
	-webkit-animation-fill-mode: forwards;
	visibility: visible;
}

/* Scroll elements */

#scroll_content {
	background: url('../img/scroll_content.png') repeat-y;
	margin: -2px 0 0 9px;
	padding: 0px 60px 20px;
	width: 496px;
}

#scroll_bottom {
	background: url('../img/scroll_bottom.png') no-repeat;
	height: 95px;
	margin-bottom: 50px;
	width: 629px;
	z-index: 3;
}

#scroll_top {
	background: url('../img/scroll_top.png') no-repeat;
	height: 200px;
	margin-bottom: 0px;
	width: 629px;
	z-index: 3;
}

/* Form Elements */

form label {
	color: #464646;
	font-weight: bold;
}

form input[type="text"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	background-color: transparent;
	border-bottom: 1px gray dashed;
	font-family: "Times New Roman", serif;
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	width: 100%;
}

#randomize_wrapper {
	float: left;
	margin: 15px 0 25px;
}

#submit_wrapper {
	float: right;
	margin: 15px 0 25px;
}

#url-shorten input[type="submit"] {
	background: none;
	background: url("../img/alacazam.svg") no-repeat;
	border: none;
	cursor: pointer;
	height: 61px;
	width: 168px;
}

#randomize {
	background: none;
	background: url("../img/randomize.svg") no-repeat;
	border: none;
	cursor: pointer;
	height: 61px;
	width: 168px;
}

form input[type="button"]:hover {
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;	
	background-color: #7a1823;
	color: white;
}

#long-url {outline: none;}
#short-url {outline: none;}


/* Order Links */

#order-links-wrapper {
	display: block;
	height: 40px;
	margin: 20px 0;
	padding-top: 30px;
	position: relative;
}

#order-links-wrapper button {
	background-color:transparent;
	border: none;
	cursor: pointer;
	margin-right: 10px;
}

#order-label {
	color: #3d220e;
	font-family: magicschoolone, cursive;
	font-size: 2.3em;
	left: 0;
	position: absolute;
	top: 33px;
}

#order-clicks {
	display: block;
	left: 140px;
	position: absolute;
	width: 180px;
}

.sorting-label {
	color: #3d220e;
	font-family: magicschoolone, cursive;
	font-size: 3em;
	left: 100px;
	position: absolute;
	top: -10px;
}

#descending-click-count {
	background-image: url('../img/sort_down.svg');
	background-repeat: no-repeat;
	height: 32px;
	float: left;
	width: 37px;
}

#ascending-click-count {
	background-image: url('../img/sort_up.svg');
	background-repeat: no-repeat;
	float: left;
	height: 32px;
	width: 37px;
}

#order-age {
	display: block;
	float: right;
	position: absolute;
	right: 0;
	width: 150px;
}

#descending-time {
	background-image: url('../img/sort_down.svg');
	background-repeat: no-repeat;
	height: 32px;
	float: left;
	width: 37px;
}

#ascending-time {
	background-image: url('../img/sort_up.svg');
	background-repeat: no-repeat;
	height: 32px;
	float: left;
	width: 37px;
}

/* Minified Links */

.link-history {
	color: #464646;
	margin: auto;
	padding: 20px 0px;
}

.minified {
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	border: 1px dashed #7a1823;
	border-radius: 7px;
	color: #7a1823;
	display: inline-block;
	font-weight: bold;
	margin-top: 10px;
	padding: 3px 8px;
}

.minified:hover {
	background-color: #7a1823;
	color: white;
}


/* 404 PAGE */

#wrapper_404 {
	margin: 100px auto 0;
	position: relative;
	width: 400px;
}

#wrapper_404 a:hover {
	text-decoration: underline;
}

#text_404 {
	margin-top: 50px;
	color: white;
	text-align: center;
}

#link_404 {
	color: red;
	margin: auto;
}
